{% extends "layout.html" %}

{% block title %}
    Sign Up
{% endblock %}

{% block body %}
    <h1>Sign Up</h1>

    <form action="/register" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" required>
        <label for="email">Email</label>
        <input type="text" name="email" required>
        <label for="password">Password</label>
        <input type="password" name="password" required>
        <input type="submit" value="Sign Up">
    </form>
{% endblock %}